
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validacion solicitud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/validacion_solicitud_styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  
    <!-- THIS LINE -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/validacion_solicitud.js"></script>
    <!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!--Font Awesone-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

<!-- 
    RTL version
-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">Biblioteca</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
               
                <a class="btn btn-secondary"  href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fas fa-user mr-2"></i>
                  <%= datos_alumno[0].Nombre %> <%= datos_alumno[0].ApellidoPaterno %>  
                </a>
                <button type="button" id="btnCerrarSesion" class="btn btn-warning ml-2" style="color: white; text-decoration: none;"   data-toggle="modal"><a href="/cerrarsesion">Cerrar Sesion</a></button> 
              <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> --> 
              </ul>
            </div>
        </div>
        
      </nav>

<div class="container">

  <div class="card col-md-12 mt-5" style="margin-bottom: 6rem;">
      <div class="card-title mx-auto">
       <h3>Prestamos Activos </h3> 
      </div>
            <div class="card col-md-6 mx-auto bg-warning mt-2">
              <div class="card-body mx-auto">
                <h6 id="cantidadPrestamos">  <%= datap[0].Prestamos %></h6>
                <h6> <b>Nota:</b> Solo puede contar maximo con 2 prestamos activos a la vez.</h6>

              </div>
            </div>

            

            <div class="col-md-12 mt-4">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr class="bg-warning">
                          <th>nº</th>
                          <th>Nombre</th>
                          <th>Fecha de publicación</th>
                          <th>Autor</th>
                          <th>Editorial</th>
                          <th>Categoria</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% if (datapActivos.length>0) { %>
                          <% for (var i=0; i < datapActivos.length; i++){ %>
                              <tr class="bg-light">
                                  <td><%= (i+1) %></td>
                                  <td><%= datapActivos[i].NombreLibro %></td>
                                  <td><%= datapActivos[i].FechadePublicacion %></td>
                                  <td><%= datapActivos[i].NombreAutor %></td>
                                  <td><%= datapActivos[i].NombreEditorial %></td>
                                  <td><%= datapActivos[i].NombreCategoria %></td>
                              </tr>
                          <%}%> 
                      <% }else{ %>
                        <tr class="bg-light">
                          <td colspan="6" style="text-align:center;">No hay prestamos</td>
                        </tr>
                      <% } %>
                  </tbody>
              </table>
          </div>
   </div>
 

  <div class="card col-md-12 mt-5" style="margin-bottom: 6rem;">
    <div class="card-title mx-auto">
      <h4 class="mx-auto">Mis pedidos</h4>
    </div>
    <div class="card-body">

        <div class="row mx-auto">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-warning">
                            <th>nº</th>
                            <th>Nombre</th>
                            <th>Fecha de publicación</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for (var i=0; i < data.length; i++){ %>
                                <tr class="bg-light">
                                    <td><%= (i+1) %></td>
                                    <td><%= data[i].NombreLibro %></td>
                                    <td><%= data[i].FechadePublicacion %></td>
                                    <td><%= data[i].NombreAutor %></td>
                                    <td><%= data[i].NombreEditorial %></td>
                                    <td><%= data[i].NombreCategoria %></td>
                                </tr>
                            <%}%> 
                        <% } %>
                    </tbody>
                </table>
            </div>

            </div>
        </div>

        <div class="row mx-auto">
        <div class="card col-md-12 bg-warning mb-4">

            <div class="card-body">
                <form action="" id="formRegistro" method="post">
                    <div class="row">
                        <div class="col-md-6">
                             <div class="form-group">
                                <label for="exampleInputPassword1">Fecha de salida</label>
                                <input type="text" class="form-control" id="fechasalida" name="dfechasalida" placeholder="" value="" readonly>
                              </div>
                         </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Fecha de entrega</label>
                                <input type="text" class="form-control" id="fecharetorno" name="dfecharetorno" placeholder="" value="" readonly>
                              </div>
                         </div>
                         <div id="inputsLibros">
                          <input type="hidden" id="idLibros" value="<%= idLibro %>">
                         </div>
                    </div>
                    <div class="col-md-4 ml-2 mx-auto">
                        <button type="submit" class="btn btn-primary" id="btnConfirmar">Confirmar</button> 
                    </div>
                  
                </form>
            </div>

         </div>
        </div>
        
  </div>
  <input type="hidden" id="iPrestamosActivos" value=" <%= datap[0].Prestamos %>">
</div>

   <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
 
</body>
</html>